.promotion-body{
    background-image:url(https://files.cdn.thinkific.com/file_uploads/397660/attachments/953/191/314/santa.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(240, 188, 178);
    }
    #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    z-index: -1;
    }
    .heading{
    display: flex;
    justify-content: center;
    }
    h1{
    font-size: 50px;
    background-color:rgba(251,248,249,0.9);
    padding:20px;
    border:1px solid black;
    }
    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }
    .christmas{
        display: flex;
        flex-direction: row;
        padding: 30px;
    background-color: rgb(251,248,249,0.82);
    height: 150px;
    width: 800px;
    margin-top: 300px;
    border:3px solid black;
    }
    .block{
    display: flex;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    }
    h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    }
    h4{
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
    }
    .days, .hours, .minutes, .seconds{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    }
    .red{
    font-size: 60px;
    border: none;
    font-family: 'Staatliches', cursive;
    color: red;
    }
  
    @media all and(max-width:800px)
    {
    h1{
    font-size: 40px;
    }
    }
    @media all and(max-width:500px)
    {
    h1{
    font-size: 30px;
    }    
    }